<div class="profile">
    <div class="profile-container">
        <div class="profile__settings">
            <p class="profile__settings__title">Settings</p>
            <div class="profile__settings__item">
                <div class="profile__settings__item__img active">
                    <img src="assets/user.svg" alt="user">
                </div>
                <div>
                    <p class="profile__settings__item__title">Account</p>
                    <p class="profile__settings__item__info">Personal information</p>
                </div>
            </div>
            <div class="profile__settings__item">
                <div class="profile__settings__item__img">
                    <img src="assets/map pin.svg" alt="map pin">
                </div>
                <div>
                    <p class="profile__settings__item__title">Address</p>
                    <p class="profile__settings__item__info">Shippings addresses</p>
                </div>
            </div>
            <div class="profile__settings__item">
                <div class="profile__settings__item__img">
                    <img src="assets/credit card.svg" alt="card">
                </div>
                <div>
                    <p class="profile__settings__item__title">Payment method</p>
                    <p class="profile__settings__item__info">Connected credit cards</p>
                </div>
            </div>
            <div class="profile__settings__item">
                <div class="profile__settings__item__img">
                    <img src="assets/shield on.svg" alt="shield on">
                </div>
                <div>
                    <p class="profile__settings__item__title">Security</p>
                    <p class="profile__settings__item__info">Password, 2FA</p>
                </div>
            </div>
        </div>
        <div class="profile__acount">
            <p class="profile__acount__title">Account</p>
            <div class="profile__acount__information">
                <p class="profile__acount__information__title">Personal information</p>
                <p class="profile__acount__information__decs">Avatar</p>
                <div class="profile__acount__information_btn">
                    <img src="assets/avatar.png" alt="">
                    <div class="profile__acount__information_btn_buttons">
                        <button class="btn btn-change">Change</button>
                        <button class="btn btn-remove">Remove</button>
                    </div>
                </div>
                <div class="profile__acount__information_form first__form">
                    <div class="profile__acount__information_input">
                        <p class="profile__acount__information__input">First name</p>
                        <input class="form__input" type="text" placeholder="Jane">
                    </div>
                    <div class="profile__acount__information_input">
                        <p class="profile__acount__information__input">Last name</p>
                        <input class="form__input" type="text"  placeholder="Robertson">
                    </div>
                </div>
                <div class="profile__acount__information_form first__second">
                    <div class="profile__acount__information_input">
                        <p class="profile__acount__information__input">Email</p>
                        <input class="form__input" type="password" placeholder="Enter your email">
                    </div>
                    <div class="profile__acount__information_input">
                        <p class="profile__acount__information__input">Phone number</p>
                        <input class="form__input" type="number" placeholder="Enter your phone number">
                    </div>
                </div>
                <p class="profile__acount__information__notifications">Email notifications</p>

                <div class="checkbox-section">
                    <div class="checkbox-first">
                            <label class="checkbox-section__input">
                                <input class="real-checkbox"  type="checkbox" checked="checked">
                                <span class="custom-checkbox"></span>
                                <p>New deals</p>
                            </label>
                            
                        <label class="checkbox-section__input">
                            <input type="checkbox" checked="checked">
                            <p>New restaurants</p>
                            <span class="checkmark"></span>
                        </label>
                        <label class="checkbox-section__input">
                            <input type="checkbox" checked="checked">
                            <p>Order statuses</p>
                            <span class="checkmark"></span>
                        </label>
                    </div>
    
                    <div class="checkbox-second">
                        <label class="checkbox-section__input">
                            <input type="checkbox" checked="checked">
                            <p>Password changes</p>
                            <span class="checkmark"></span>
                        </label>
                        <label class="checkbox-section__input">
                            <input type="checkbox" checked="checked">
                            <p>Special offers</p>
                            <span class="checkmark"></span>
                        </label>
                        <label class="checkbox-section__input">
                            <input type="checkbox" checked="checked">
                            <p>Newsletter</p>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <span class="profile__acount__information__underline"></span>

                <div class="profile__acount__information__buttons">
                        <button class="btn btn-log">Log out</button>
                    <div class="discart__btns">
                        <button class="btn btn-discard" >Discard changes</button>
                        <button class="btn btn-save" >Save changes</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
