<!-- <a routerLink="/">Home</a>
<a routerLink="profile">Profile</a> -->

<div class="header">
    <div class="header-container">
        <div class="header__logo-section">
            <a class="header__logo" routerLink="/">
                <img src="assets/logo.svg" alt="logo">
            </a>
            <div class="header__search">
                <input class="header__search__input" type="text" placeholder="Search">
                <img  src="assets/search.svg" alt="search">
            </div>
        </div>

        <div class="header__navagation">
            <nav class="header__navagation__nav">
                <ul class="header__navagation__ul">
                    <li class="header__navagation__li li-active">
                        <a class="ul_links" href="/">Restaurants</a>
                    </li>
                    <li class="header__li">
                        <a class="ul_links" href="/">Deals</a>
                    </li>
                    <span class="header__li__stroke"></span>
                    <li class="header__li">
                        <a class="ul_links" href="/">My orders</a>
                    </li>
                </ul>
            </nav>
            <div class="header__icons">
                <div class="header__cart">
                    <img src="assets/shopping bag.svg" alt="">
                </div>
                <span class="header__cart__number">4</span>
                <a class="header__profile__link" routerLink="profile">
                    <img src="assets/profile-icon.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>

