<div class="home-category">
    <div class="home-category-container">
        <a class="home-category__item" href="">
            <img src="assets/pizza.svg" alt="Pizza">
            <p class="item__text">Pizza</p>
        </a>
        <a class="home-category__item" href="">
            <img src="assets/burger.svg" alt="Burger">
            <p class="item__text">Burger</p>
        </a>
        <a class="home-category__item" href="">
            <img src="assets/meat.svg" alt="BBQ">
            <p class="item__text">BBQ</p>
        </a>
        <a class="home-category__item" href="">
            <img src="assets/sushi.svg" alt="Sushi">
            <p class="item__text">Sushi</p>
        </a>
        <a class="home-category__item" href="">
            <img src="assets/broccoli.svg" alt="Vegan">
            <p class="item__text">Vegan</p>
        </a>
        <a class="home-category__item" href="">
            <img src="assets/cake.svg" alt="Desserts">
            <p class="item__text">Desserts</p>
        </a>
    </div>
</div>
