
<div class="home-adv">
    <div class="home-adv-container">
        <div class="home-adv-desert">
            <div class="home-adv-desert__img">
                <img src="assets/desert.png" alt="desert">
            </div>
            <div class="home-adv-desert__info">
                <p class="home-adv-desert__info__title">All deserts</p>
                <h2 class="home-adv-desert__info__price">20% OFF</h2>
                <p class="home-adv-desert__info__text">Deserty</p>
            </div>
        </div>
        <div class="home-adv-burger">
            <div class="home-adv-burger__img">
                <img src="assets/burger.png" alt="burger">
            </div>
            <div class="home-adv-burger__info">
                <p class="home-adv-burger__info__title">Big Burgers</p>
                <h2 class="home-adv-burger__info__price">50% OFF</h2>
                <p class="home-adv-burger__info__text">Fooddies</p>
            </div>
        </div>
    </div>
</div>


